CherryPy (3.2.4)
Flask (0.10.1)
itsdangerous (0.23)
Jinja2 (2.7.2)
MarkupSafe (0.18)
mccabe (0.2.1)
Mopidy (0.17.0)
Mopidy-Scrobbler (1.0.0)
Mopidy-Spotify (1.0.3)
pip (1.5.4)
pyflakes (0.7.3)
Pykka (1.2.0)
pylast (0.5.11)
pyspotify (1.11)
requests (2.2.1)
setuptools (2.2)
stevedore (0.14.1)
Werkzeug (0.9.4)
ws4py (0.3.2)
wsgiref (0.1.2)
