<!DOCTYPE html>
<html>
    <head>
        <title>raspivideo</title>
        
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        <script src="/static/js/main.js"></script>
        
    </head>

    <body>
    <form action="http://localhost:5000/raspivideo/movies/path" method="POST">
        <input type="text" name="path" value="enter path"></input>
        <input type="submit" value="save"></input>
    </form>
    <button type="button" id="list_movies">list movies</button>
        <table>
            <tbody></tbody>
        </table> 
    </body>
</html>
